.card {

  &__vehicle {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 470px;
    position: relative;
    text-align: center;

    h2 {
      border-bottom: 2px solid rgb(0, 0, 0);
      border-top: 2px solid rgb(0, 0, 0);
      display: inline-block;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__header {
    margin-bottom: .5rem;
    padding: 0;

    img {
      display: block;
      max-height: 300px;
      object-fit: contain;
      object-position: center;
      transition: 200ms transform ease-in-out;
      width: 100%;
    }
  }

  &__body {
    font-size: .9rem;
    padding: 0 var(--padding) var(--padding);
  }

  &__buttonContainer {
    align-self: center;

  }

  &__button {
    align-self: right;
    background-color: white;
    border: 1px solid;
    border-radius: .25rem;
    display: inline-block;
    justify-content: flex-end;
    margin: auto .5rem .5rem;
    padding: .5rem;
  }

  &__details {
    border: 1px solid black;
    font-size: .8rem;
    margin-top: .5rem;
    padding: var(--padding);
    padding-top: 0;

    p {
      border-bottom: 1px solid black;
      margin: 1rem auto;
      padding-bottom: 5px;
      width: 50%;
    }
  }
}

.card--shadow {
  border: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card--image {
  overflow: hidden;
}

.card__vehicle:hover > .card__header > img {
  transform: scale(1.025);
}

@media only screen and (max-width: 1250px) {

  .card {

    &__vehicle {
      max-width: 450px;
    }
  }
}

@media only screen and (max-width: 768px) {

  .card {

    &__vehicle {
      display: flex;
      flex-direction: row;
      height: 200px;
    }

    &__header {
      height: 100%;
      margin: 0;
      width: 30%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 0 0 0 2rem;
      text-align: left;
      width: 70%;

      h2 {
        border: hidden;
        font-size: 1rem;
        margin: 1rem 0 1rem;
      }

      p {
        font-size: .7rem;
        margin: 0;
      }
    }

    &__description {
      padding: 1rem 0;
    }

    &__button {
      margin: 1rem 0 .5rem;
    }
  }
}

@media only screen and (max-width: 768px) {

  .container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

@media only screen and (max-width: 480px) {

  .card {

    &__header {
      height: 100%;
      width: 30%;
    }

    &__body {
      width: 70%;

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .7rem;
        margin: 0;
        padding: 0 .5rem;
      }
    }

    &__button {
      font-size: .7rem;
    }
  }
}