// Jaguar definitions
@font-face{ /* for IE */
    font-family:Jaguar;
    src:url(/fonts/Jaguar-Regular.eot);
}
@font-face { /* for non-IE */
    font-family:Jaguar;
    src:url(http://:/) format("No-IE-404"), url(/fonts/Jaguar-Regular.svg) format("svg"), url(/fonts/Jaguar-Regular.woff) format("woff"), url(/fonts/Jaguar-Regular.ttf) format("truetype");
}

@font-face{ /* for IE */
    font-family:Jaguar;
    font-weight: bold;
    src:url(../fonts/Jaguar-Bold.eot);
}
@font-face { /* for non-IE */
    font-family:Jaguar;
    font-weight: bold;
    src:url(http://:/) format("No-IE-404"), url(../fonts/Jaguar-Bold.svg) format("svg"), url(../fonts/Jaguar-Bold.woff) format("woff"), url(../fonts/Jaguar-Bold.ttf) format("truetype");
}
