$font-family: "Roboto", sans-serif;

// media queries
$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
// $breakpoint-tablet-max: 1023px;
// $breakpoint-desktop-min: 1024px;
$breakpoint-tablet-max: 1199px;
$breakpoint-desktop-min: 1200px;

//colors
$white: #fff;
$black: #222;
$light-gray: #eee;

// text colors
$title-color: #222;
$seconday-title-color: #4b5056;
$text-color: #7a7a7a;
