@import "../../styles/variables.scss";

.card-image {
  height: $block-size-xxl;
  margin-right: $spacing-md;
  width: $block-size-xxl;

  &__default {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @media (min-width: 481px) {
    height: 100%;
    margin-right: 0;
    width: 100%;
  }
}
