@import "../../styles/_variables.scss";

@import "../../styles/animations.scss";

.vehicleCard {
  animation: fadeIn 1s ease-in-out forwards;
  display: flex;
  position: relative;

  &:not(.loading) {
    cursor: pointer;

    &:after {
      background-color: rgba(0, 0, 0, 0);
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .5s ease, background-color .5s ease;
      z-index: 1;
    }
  }

  &:hover {

    &:after {
      background-color: rgba(0, 0, 0, .5);
      opacity: 1;
    }
  }

  @media screen and (min-width: #{$breakpoint-tablet-min}) {
    flex-direction: column;
  }
}
