.card {
    display: flex;
    border-bottom: 1px solid #eef1f1;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &__image {
        flex-shrink: 0;
        margin-right: 20px;
        height: 150px;
        width: 150px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }

    &__content {
        display: flex;
        width: 100%;
        font-family: "Roboto", sans-serif;
        flex-direction: column;
        justify-content: center;

        .card__title {
            font-size: 16px;
            letter-spacing: 2px;
            color: #0c121d;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .card__price {
            font-size: 15px;
            letter-spacing: 1.5px;
            color: #4c5157;
        }
        .card__description {
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 20px;
            color: #4c5157;
            margin-top: 10px;
        }
        .card__expandtext {
          font-size: 13px;
          letter-spacing: 0.5px;
          line-height: 20px;
          color: #1b4170;
          margin: 10px 0px;
          cursor: pointer;
        }
        .card__expandedarea{
          font-size: 14px;
          margin: 10px 0px 3px;
        }

    }

    @media (min-width: 481px) {
        flex-direction: column;
        width: 50%;

        &__image {
            margin-right: 0px;
            width: 100%;
            height: 100%;
        }

        &__content {
            display: block;
            text-align: center;
            border-left: #eef1f1 1.5px solid;
            border-right: #eef1f1 1.5px solid;

            .card__title {
                font-size: 18px;
                letter-spacing: 2px;
                color: #0c121d;
                margin: 25px 30% 30px;
                padding: 7px;
                border-top: 2px solid #0c121d;
                border-bottom: 2px solid #0c121d;
            }
            .card__description {
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 22px;
                color: #4c5157;
                min-height: 45px;
                margin: 15px 5px 5px;
                overflow: auto;
            }
        }
    }

    @media (min-width: 769px) {
        width: 25%;

        &__content {
            margin: 0px 10px;
            .card__title {
                margin-bottom: 25px;
            }
            .card__description {
                font-size: 16px;
                margin-top: 20px;
                line-height: 30px;
                margin: 15px 5px 5px;
            }
        }
    }
}

.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.9s; /* Adjust the duration as desired */
  animation-timing-function: ease-in-out; /* Adjust the easing as desired */
  animation-fill-mode: forwards; /* Maintain the final state after animation */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px); /* Optional: Add additional animation properties */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Optional: Add additional animation properties */
  }
}