@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$bg-colour: #ccc;
$black-pearl: #0c121c;
$tuna: #0c121c;

* { margin: 0; padding: 0; }

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $bg-colour;
}
.container {
	display: flex;
}

.card {
	display: flex;
	width: 100%;
}

.card-list {
	list-style: none;
	width: 25%;
	&__name {
		display: flex;
    flex-flow: column;
    width: max-content;
		margin: 10px auto;
    text-transform: uppercase;
		border-top: 1px solid $black-pearl;
		border-bottom: 1px solid $black-pearl;
		color: $black-pearl;
	}

	&__image {
		width: 100%;
	}
}

.card-detail {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: $tuna;
	&__price {
		font-size: 18px;
		margin: 20px 0;
	}
	
	&__description {
		font-size: 16px;
	}
}
