@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ccc;
}

.container {
  width: 100%;
}

.card {
  width: 100%;
}

.card-list {
  list-style: none;
  width: 24.8%;
  border: 1px solid #eef1f1;
  background: #ffffff;
  float: left;
  text-align: center;
  min-height: 380px;
}

@media (max-width: 767px) {
  .card-list {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    min-height: auto;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .card-list {
    width: 49.7%;
    padding-bottom: 10px;
  }
}

.card-list__name {
  display: flex;
  flex-flow: column;
  width: max-content;
  margin: 10px auto;
  text-transform: uppercase;
  border-top: 1px solid #0c121c;
  border-bottom: 1px solid #0c121c;
  color: #0c121c;
}

@media (max-width: 767px) {
  .card-list__name {
    margin: 5px 0;
    font-size: 13px;
  }
}

.card-list__image {
  width: 100%;
}

@media (max-width: 767px) {
  .card-list__image {
    width: 180px;
    float: left;
  }
}

.card-detail {
  color: #0c121c;
}

@media (max-width: 767px) {
  .card-detail {
    padding-left: 20px;
  }
}

.card-detail__price {
  font-size: 18px;
  margin: 20px 0;
}

@media (max-width: 767px) {
  .card-detail__price {
    font-size: 13px;
    margin: 0;
  }
}

.card-detail__description {
  font-size: 16px;
}

@media (max-width: 767px) {
  .card-detail__description {
    font-size: 11px;
  }
}
