@import "../../styles/_variables.scss";

.vehiclesList {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-tablet-min) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-desktop-min) {
    grid-template-columns: repeat(4, 1fr);
  }
}
