$grey: #0c121c;
$light-grey: #4a4f54;
$line-grey: #eef1f1;
$white: #fff;
$dark-white: #e7e7e7;

/* Media Queries */
$media: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
    3xl: 1920px,
);

@mixin breakpoint($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}

/* Fade in bottom animation */
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.vehicle-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  .vehicle {
    opacity: 0;
    animation: fadeInBottom 1s ease-in-out;
    animation-fill-mode: forwards;

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-delay: 100ms * $i;
      }
    }



    &:not(:last-child) {
      border-bottom: 1px solid $line-grey;
      margin-bottom: -1px;
    }

    @include breakpoint(md) {
      &:not(:last-child) {
        border-bottom: 0px; 
      }

      &:nth-child(odd) {
        .vehicle__details {
          border-right: 1px solid $line-grey;
        }
      }      
    }

    @include breakpoint(xl) {
      &:not(:last-child) {
        .vehicle__details {
          border-right: 1px solid $line-grey;
        }
      }
    }
  }
}

.vehicle {
  &:hover {
    .vehicle__image {
      img {
        transform: scale(1.1);
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &__card {
    background: unset;
    border: unset;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    font-size: 1rem;

    @include breakpoint(md) {
      align-items: stretch;
      flex-direction: column;
      text-align: center;
      height: 100%;
    }
  }

  &__image {
    width: 100px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    align-self: stretch;
    
    &::before {
      content: '';
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.3);
      inset: 0;
      position: absolute;
      z-index: 1;
      transition: opacity 0.3s ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }

    @include breakpoint(sm) {
      width: 180px;
      aspect-ratio: 1 / 1;
    }

    @include breakpoint(md) {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  &__details {
    padding: 1rem 1rem 1rem 2rem;

    @include breakpoint(md) {
      padding: 2rem 1rem 0.5rem 1rem;
      flex-grow: 1;
    }

    @include breakpoint(xl) {
      padding: 2rem 1rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3.5px;
    font-size: 1.2rem;
    color: $grey;

    @include breakpoint(md) {
      display: inline-block;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      margin-bottom: 1.5rem;
    }
  }

  &__price {
    font-size: 1.1rem;
    color: $light-grey;
  }

  &__price-number {
    padding-left: 0.5rem;
  }

  &__description {
    margin-top: 1rem;
    color: $light-grey;
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  overflow: scroll;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;

  &--open {
    opacity: 1;
  }

  &__content {
    background-color: $white;
    max-width: 500px;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    position: relative;

    @include breakpoint(md) {
      margin: 2rem;
      padding: 2rem;
    }
  }

  &__image {
    margin: -1rem -1rem 1rem;
    width: auto;
    aspect-ratio: 16 / 9;

    @include breakpoint(md) {
      margin: -2rem -2rem 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    text-align: center;
  }

  &__close {
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
    font-size: 2rem;
    color: $grey;
    border-radius: 500px;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: $white;
    border: 1px solid $light-grey;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $dark-white;
    }
  }

  &__title {
    margin-top: 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    display: inline-block;
    color: $grey;
  }

  &__description {
    color: $light-grey;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    color: $light-grey;

    tbody {
      tr {
        > * {
          padding: 0.5rem 1rem;
        }
        
        > :first-child {
          text-align: left;
          background: $grey;
          color: $white;
          border: 1px
        }

        &:nth-child(odd) {
          > :last-child {
            background: $line-grey;
          }
        }
      }
    }
  }
}
