.VehicleList {
    width: 100%;
    display: grid;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .VehicleList {
        grid-template-columns: repeat(2, 50%);
    }
}

$breakpoint-desktops: 992px;
@media (min-width: $breakpoint-desktops) {
    .VehicleList {
        grid-template-columns: repeat(4, 25%);
    }
}