$base-color: black;
$border: 1px solid lighten($base-color, 90%);

@keyframes animateIn {

  0% {
    opacity: 0;
    transform: scale(.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {

  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.root {
  min-height: 100vh;
}

.loader {
  animation: rotate 1s linear infinite;
  border-radius: 50%;
  height: 48px;
  left: calc(50% - 24px);

  position: absolute;
  top: calc(50% - 24px);
  transform: translate(-50%, -50%);
  width: 48px;

  &::before,
  &::after {
    animation: prixClipFix 2s linear infinite;
    border: 5px solid lighten($base-color, 40%);
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    inset: 0px;
    position: absolute;
  }

  &::after {
    border-color: #ff3d00;
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
  }
}

.vehicles {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.vehicle-card {
  display: flex;
  width: 100%;

  @supports (--css: variables) {
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-duration: 350ms;
    animation-fill-mode: both;
    animation-name: animateIn;
    animation-timing-function: ease-in-out;
  }

  @media (min-width: 601px) {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
  }

  @media (min-width: 1025px) {
    width: 25%;
  }

  &__image {
    width: 100%;
  }

  &__image-container {
    display: none;

    @media (min-width: 390px) {
      display: block;
      flex-shrink: 0;
      height: 150px;
      width: 150px;
    }

    @media (min-width: 601px) {
      height: auto;
      width: 100%;
    }
  }

  &__info {
    border-bottom: $border;
    flex-grow: 1;
    font-family: "Tuffy", sans-serif;
    padding: 1rem;

    @media (min-width: 601px) {
      border-bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem .5rem;
      text-align: center;
    }

    @media (min-width: 1025px) {
      border-bottom: $border;
      border-right: $border;
      padding: 1rem;
    }
  }

  &__name {
    display: inline-block;
    font-family: "TuffyBold", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media (min-width: 601px) {
      align-self: center;
      border-bottom: 1.25px solid currentColor;
      border-top: 1.25px solid currentColor;
      margin-bottom: 1rem;
      margin-top: .75rem;
    }
  }

  &__price {
    color: lighten($base-color, 40%);
    font-size: 14px;
    letter-spacing: 2px;
  }

  &__description {
    color: lighten($base-color, 20%);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  &__button {
    background: none;
    border: 0;
    margin-top: 20px;
    padding: 0;

    &::before {
      align-items: center;
      background: 0;
      border: 2px solid currentColor;
      color: lighten($base-color, 30%);
      content: "Read More";
      cursor: pointer;
      display: inline-flex;
      font-family: "TuffyBold", sans-serif;
      font-size: 14px;
      justify-content: center;
      overflow: hidden;
      padding: 3pt 20px;
      text-transform: uppercase;
    }

    /* stylelint-disable max-nesting-depth */
    @media (min-width: 390px) {
      position: absolute;
      right: 15px;
      top: 0;

      &::before {
        content: "\02794";
        padding: 2px 8px;
      }
    }

    @media (min-width: 601px) {
      margin-top: auto;
      position: initial;
      right: initial;
      top: initial;

      &::before {
        content: "Read More";
        padding: 3pt 20px;
      }
    }

    /* stylelint-enable */
  }

  &__screen-reader-text {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
