.list-item {
  width: 25%;
  height: 325px;
  float: left;
  text-align: center;
  border-right: 0.1px solid lightgrey;
  font-family: 'Montserrat', sans-serif;
}

.img-size {
  max-width: 100%;
}

.list-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
  .list-item {
    width: 33.3333%;
  }
}

@media screen and (max-width: 768px) {
  .list-item {
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .list-item {
    width: 100%;
  }
}
