@import "../../_variables.scss";

.container {
  width: 100%;

  > div:not(:last-child) {
    border-bottom: 2px solid var(--color-grey-200);

    @media screen and (min-width: $md) {
      border-bottom: 0;
    }
  }

  @media screen and (min-width: $md) {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex-basis: 50%;
    }

    div[class*="__content"] {
      border-right: 1px solid var(--color-grey-200);
    }
  }

  @media screen and (min-width: $lg) {
    flex-wrap: nowrap;

    > div {
      flex-basis: 40%;
    }
  }
}
