$color-primary: #0c121d;
$color-secondary: #4c5157;
$color-accent: #1b4170;
$color-primary-gray: #eef1f1;

$spacing-xxs: .125rem;
$spacing-xs: .3125rem;
$spacing-sm: .625rem;
$spacing-md: 1.25rem;
$spacing-lg: 1.875rem;
$spacing-xl: 2.8125rem;

$border-width: .09375rem;
$box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .2);

.root {
  z-index: 12;
}

body,
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}