
:root {
  --black: #000;
  --border-radius: 4px;
  --dark-green: #27985a;
  --gray: rgb(106, 106, 106);
  --green: #30c172;
  --light-gray: #ededed;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;

}

button {
  background: none;
  border: none;         
  cursor: pointer;
}

img {
  width: 100%;
}

li {
  all: unset;
}

.root {
  z-index: 12;
}
